<!DOCTYPE html>
<html>
<head>
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">QR Code Generator</div>
        <a href="javascript:void(0);" class="toggle-button" onclick="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links" id="navbar-links">
            <ul>
                <li><a href="{{ url_for('home') }}">QR CODE</a></li>
                <li><a href="{{ url_for('shorten_url') }}">URL Shortener</a></li>
                <li><a href="{{ url_for('generate_password_route') }}">Generate Password</a></li>
                <li><a href="{{ url_for('jpg_png') }}">Convert Images</a></li>
            </ul>
        </div>
    </nav>
   
    <div class="container">
        <h1>QR Code Generator</h1>
        <form method="POST" action="/">
            <input type="text" name="url" placeholder="Enter URL">
            <input type="submit" value="Generate QR Code">
        </form>
        {% if qr_code %}
        <div class="qr-code">
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
        </div>
        {% endif %}
    </div>

    
</body>
</html>
