<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Navigation Bar -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shorten">Shorten URL</a></li>
                <li><a href="/password">Generate Password</a></li>
            </ul>
        </nav>
        
        <h1>Password Generator</h1>
        <form method="POST" action="/password">
            <input type="number" name="length" placeholder="Enter Length" min="6" max="24" required>
            <input type="submit" value="Generate Password">
        </form>
        {% if password %}
        <div class="password-result">
            <p>Generated Password: <strong>{{ password }}</strong></p>
        </div>
        {% endif %}
    </div>
</body>
</html>
